<% provide(:title, '確定申告 - ') %>
<% breadcrumb :t3 %>
<div class="p-jobs">
  <div class="p-jobs__main-view p-jobs__main-view-1">
  </div>
  <div class="p-jobs__content">
    <div class="p-jobs__head">
      <h1 class="c-title">
        確定申告とは
      </h1>
      <p class="p-jobs__txt">
        確定申告とは、対象となる年の1月1日から12月31日までの1年間に受け取った所得を割り出して、次の年の3月15日までに、住民税や所得税などの税金を納税する金額を決める手続きです。実際に申告をする必要が生じた場合に、手間がかかるから自分で申告したくなかったり、複雑で調べても理解出来なかったりして、税理士に申告する手続きを代行してもらおうと考える人も少なくありません。<br />
        申告の手続きを代行してもらう場合の報酬はいくら発生するのかが予測出来ない方やどのような場合に申告する必要があるのかが分からない方、申告手続きを代行してもらうメリットが知りたい方が多いです。そういった方のために、申告手続き代行に必要な費用や相場、メリットなどについてを解説していきます。
      </p>
    </div>
    <div class="p-jobs__head">
      <h2 class="c-title">
        そもそも確定申告が必要になる場合は?
      </h2>
      <p class="p-jobs__txt">
        どのような場合に確定申告の申請をする必要があるかというと、まず所得を給与で得ていて年末調整を勤務先で済ませている人は、自分で確定申告の申請を行わなければならないことは基本的にありません。しかし所得を給与で得る人でも、以下に当てはまる方は申請する必要があります。
      </p>
      <ul class="p-article-detail__list">
        <li class="p-article-detail__item">
          給与による年収が2千万円を超える方
        </li>
        <li class="p-article-detail__item">
          副業など給与以外の所得が1年間あたり20万円を超えている方
        </li>
        <li class="p-article-detail__item">
          2ヶ所以上の勤務先から給与を得ている方
        </li>
        <li class="p-article-detail__item">
          年末調整や源泉徴収を行ってわずに給与を得ている方
        </li>
        <li class="p-article-detail__item">
          年末調整では受けることが出来ない医療費や住宅ローン、雑損や寄附金などといった各種控除を受けたい方
        </li>
        <li class="p-article-detail__item">
          対象年の途中で仕事を退職して、まだ就職をしていない方
        </li>
      </ul>
      <p class="p-jobs__txt">
        そして、個人事業主など給与で所得を得ていない方は、以下に当てはまると確定申告をすることが必要です。
      </p>
      <ul class="p-article-detail__list">
        <li class="p-article-detail__item">
          総収入から経費を差し引いた所得の金額が38万円を超える方
        </li>
        <li class="p-article-detail__item">
          青色申告者で次の年に赤字を繰り越したい方
        </li>
        <li class="p-article-detail__item">
          各種控除や還付を適用したてもらいたい方
        </li>
        <li class="p-article-detail__item">
          消費税が課税される事業者
        </li>
      </ul>
      <p class="p-jobs__txt">
        所得を給与で得ている人は副業で一定の金額以上の収入がある人や還付申告したい方は申請する必要があります。個人事業主は、ほぼ申請することが必要です。
      </p>
    </div>
    <div class="p-jobs__head">
      <h2 class="c-title">
        確定申告の税理士費用の相場は?
      </h2>
      <p class="p-jobs__txt">
        確定申告の申請を代行してもらったときの税理士に支払う報酬の金額は、依頼した人がどのような形で所得を得ているのかによって違ってきます。他にも、記帳作業も代行するかどうかや白色申告か青色申告といった申告の種類によっても違う訳です。
      </p>
      <div class="p-article-detail__scroll">
        <table>
          <caption>青色申告の費用相場</caption>
          <tr>
            <th rowspan="2">年間売上</th>
            <th colspan="2">報酬相場</th>
          </tr>
          <tr>
            <th>記帳は自分で行う場合</th>
            <th>記帳代行も依頼する場合</th>
          </tr>
          <tr>
            <td>500万円未満</td>
            <td>5万円〜</td>
            <td>10万円〜</td>
          </tr>
          <tr>
            <td>500万円以上1000万円未満</td>
            <td>7万円〜</td>
            <td>15万円〜</td>
          </tr>
          <tr>
            <td>1000万円以上3000万円未満</td>
            <td>10万円〜</td>
            <td>20万円〜</td>
          </tr>
          <tr>
            <td>3000万円以上5000万円未満</td>
            <td>15万円〜</td>
            <td>25万円〜</td>
          </tr>
          <tr>
            <td>5000万円未満</td>
            <td>応相談</td>
            <td>応相談</td>
          </tr>
        </table>
      </div>
      <p class="p-jobs__txt">
        サラリーマンが確定申告で、アルバイトの副業で得た収入を申告したり、医療費などの控除を適用させて還付してもらいたいという簡単な依頼であれば、税理士の報酬の相場は3万円からとなります。<br />
        そして、副業の所得がその年に20万円を超えたときは、その所得が事業所得か雑所得かによって申請する方法が違う訳です。副業が給与による所得以外の、事業で得ている所得の場合は事業所得として扱い、その他は雑所得で扱います。
      </p>
      <p class="p-jobs__txt">
        趣味などでFXなどの投資で得た利益ならば、雑所得で扱う場合が多く、そのときの相場は、およそ5万円からが一般的です。青色申告の税理士の報酬の相場に関しては、添付されている表を参照すると分かりやすいと言えます。
      </p>
      <h3 class="c-title-middle">
        白色申告の費用相場
      </h3>
      <p class="p-jobs__txt">
        個人事業主が事業所得を得ている場合の白色申告を代行してもらうのであれば税理士に対する報酬の相場は、およそ5万円から10万円ぐらいになります。
      </p>
    </div>

    <div class="p-jobs__head">
      <h2 class="c-title">
        確定申告を税理士に丸投げするメリット・デメリット
      </h2>
      <p class="p-jobs__txt">
        確定申告を税理士に代行してもらうと手間を省くことが可能であったり、作業が正確で申請した後にフォローしてくれるなどといったことがメリットです。その一方で、費用が負担になってしまうというデメリットもあります。
      </p>
      <h3 class="c-title-middle">
        確定申告を税理士に丸投げするメリット
      </h3>
      <h4 class="c-title-small">
        手間を省くことができる
      </h4>
      <p class="p-jobs__txt">
        確定申告では請求書や領収書などの1年分の資料をまとめ記帳し、申告書に記入することが必要です。経理に慣れた個人事業主や経理担当者ならば、手間をあまりかけずに済ませることが可能で、1年の間に少しずつ作業を進めることが出来ます。
      </p>
      <p class="p-jobs__txt">
        確定申告では請求書や領収書などの1年分の資料をまとめ記帳し、申告書に記入することが必要です。経理に慣れた個人事業主や経理担当者ならば、手間をあまりかけずに済ませることが可能で、1年の間に少しずつ作業を進めることが出来ます。
      </p>
      <p class="p-jobs__txt">
        ところが、初めて申告をする方や忙しくて時間を確保出来ない場合は全然着手出来ないこともあります。また、申告期限の間際になったり、申告期限を経過しても申告出来ない状態になり結果的に延滞税や無申告加算税が発生してしまうこともある訳です。
      </p>
      <p class="p-jobs__txt">
        しかし、これらの作業は税理士に代行してもらうことが可能なので、手間を省くことが可能で期限までに申告を済ませることが出来ます。その分、報酬を支払う必要がありますが本業に時間をかけることが可能なことがメリットです。
      </p>
      <h4 class="c-title-small">
        作業の正確さと確定申告後のフォローがある
      </h4>
      <p class="p-jobs__txt">
        税理士の業務は法律で定義されていて、税理士だけが確定申告の申請を代行することが可能です。ですので税理士は1年間で数十件や数百件もの確定申告を代行しています。プロの確定申告の代行者として正しく税金を割り出せているかや申告漏れがないかを厳しく確認し申請する訳です。
      </p>
      <p class="p-jobs__txt">
        初めて申告する方や大雑把に確定申告を行ってきた人にとって、プロに代行してもらうことは安心感に繋がります。そして、税務調査を受けることになったときに、税務署に申告した内容を説明して貰うなどフォローも期待可能です。
      </p>
      <h4 class="c-title-small">
        節税対策のアドバイスが受けられる
      </h4>
      <p class="p-jobs__txt">
        依頼する人の中でも副業の利益が予想外に多くなった人や、利益が多くなってきた個人事業主の人などは、節税をしたい人がほとんどです。自分がしようとしていることが法律上問題がないか判断したり節税がどうしたら可能なのかということは、自分では簡単に分かりません。<br />
        このようなアドバイスや節税対策が出来るのも、税理士のメリットになります。とは言え確定申告の期限直前に出来る節税対策はあまりないので、顧問契約を締結しておくのも効果的な方法です。
      </p>
      <h3 class="c-title-middle">
        確定申告を税理士に丸投げ・依頼するデメリット
      </h3>
      <h4 class="c-title-small">
        費用が負担になる
      </h4>
      <p class="p-jobs__txt">
        なるべく安い費用で代行してもらいたいときには自分自身で記帳したりなど、自分で出来ることはなるべく済ませておけば報酬を、その分安くすることが出来ます。ところが売上が少なく収益も少ない人にとっては、たとえ数千円から数万円でも、税理士の報酬は負担になることが少なくありません。<br />
        そういったときには、自分自身で確定申告の申請をするのも方法の1つです。還付申告だけだったり、副業による雑所得しか得ておらず利益もわずかであったりなど、申告する内容が複雑ではないときには、自分で行うことも出来ます。
      </p>
    </div>
    <p class="p-top__btn">
      <%= link_to contacts_path, class: 'c-btn-cta' do %>
        税理士紹介を依頼する
      <% end %>
    </p>
    <%= render template: '/components/topic_article_list', locals: { topic_article: @topic_article } %>
  </div>
</div>
