<% provide(:title, '税務調査 - ') %>
<% breadcrumb :t8 %>
<div class="p-jobs">
  <div class="p-jobs__main-view p-jobs__main-view-1">
  </div>
  <div class="p-jobs__content">
    <div class="p-jobs__head">
      <h2 class="c-title">
        税務調査とは?
      </h2>
      <p class="p-jobs__txt">
        税務調査は主に国税庁の管轄組織で、納税者が正しく申告しているかどうかを取り締まっています。毎年、全法人の中の6パーセントは税務調査を受けていて、確率でいえば10年に1度当たる可能性があるかどうかです。税務調査には任意調査と強制調査があり、それぞれ担当内容や業務が異なります。
      </p>
      <p class="p-jobs__txt">
        任意調査の場合は基本的に任意であるため、事前に調査に入るという連絡が入ります。こういった場合は急な調査となる心配はありません。ただし、任意調査においても税務に関する指摘や質問があります。質問時、黙秘したり虚偽の申告をしたりすれば罰則を受ける可能性さえあるのです。また強制調査の場合、国税局の査察部に配属されている捜査員が請け負います。この捜査員は通称マルサとよばれています。報道などで、たくさんの押収品を抱えて出入りする姿を目にしたことがある方もいるでしょう。マルサは、明らかに脱税の容疑がある、悪質な隠蔽工作をしている、1億円を超えた脱税などの条件を満たす場合に調査に入ります。
      </p>
    </div>
    <div class="p-jobs__head">
      <h2 class="c-title">
        税務調査の流れ
      </h2>
      <p class="p-jobs__txt">
        同じ税務の調査でも内容は異なり調査方法もさまざまです。きちんと税務申告していても調査される可能性はありますから、配慮が必要です。そこでこの段落では、実際にはどのような流れで税務調査にはいるのか、具体的流れについてご紹介します。
      </p>
      <h3 class="c-title-middle">
        事前調査
      </h3>
      <p class="p-jobs__txt">
        まず始めに税務署が調査に行く場所を選定します。会社の売り上げや経費などの経営状況や、過去の申告内容を照合し事前調査に備えます。また取引先や状況、過去の税務推移などをベースに逸脱している内容がないかなど具体的項目も調査されることがあるのです。会社の外観調査はもちろん、自宅や店舗、車に不審な点はないかなども偵察されます。これらの根拠を元に税務調査を行う法人、個人が選定されるのです。
      </p>
      <p class="p-jobs__txt">
        特に個人の場合は申告漏れや差異があることも多いため、税務調査に入られる可能性も高いです。以前指摘を受けていたり、調査から期間が空いている、売り上げが極端にばらつきがあるような場合は税務署からも目をつけられやすいため、要注意です。
      </p>
      <h3 class="c-title-middle">
        事前通知
      </h3>
      <p class="p-jobs__txt">
        税務調査をする会社が決まれば事前通知をし日程の調整に入ります。この時、調査に入る日程だけでなく確認項目も通達されます。内容は場合にもよりますが担当者の所属や氏名、調査対象にまつわる場所や名称、調査期間、帳簿書類や物件などです。基本的に調査は短くても1日長ければ5日かかり、その期間の日程は調整しておかなければなりません。
      </p>
      <p class="p-jobs__txt">
        また場合によっては通知なしでの実施調査(現況調査)となることもあります。そのような場合は調査日程を選択することはできませんし、専門知識がなければ対応できない可能性もあります。このような場合において、法的知識のある専門家の存在は重要です。特に現況調査のような急な調査の場合は、その方が安心できるといえます。
      </p>
      <h3 class="c-title-middle">
        実地調査
      </h3>
      <p class="p-jobs__txt">
        事前調査が済めば実際に聴取や調査を実施することになります。(実地調査)事前通知で確認した調査日に税務署員がはいるのです。調査前には会社の代表と面談し、現状や概要について聴取します。その時に税務上必要な質問に答えなければなりません。聴取後は帳簿調査など具体的な書類調査の流れになります。調査する具体的内容は申告書、源泉徴収書を始め、契約書や請求書、領収書、総勘定元帳や通帳など、あらゆる帳簿が対象となるのです。
      </p>
      <p class="p-jobs__txt">
        ほかにも議事録や労働者名簿などもあり、経理以外の内容も調査が入ることを覚えておきましょう。この調査をしても解決できなかった場合、利用する金融機関や取引先へまで調査が及ぶことも少なくありません。
      </p>
    </div>
    <div class="p-jobs__head">
      <h2 class="c-title">
        税務調査に税理士が立ち会うメリットは?
      </h2>
      <p class="p-jobs__txt">
        安心して税務調査を受けるには法的資格を持つ専門家に委託することです。専門資格があれば、さまざまな対処が可能ですし、その分調査もスムーズに済みます。この段落では、税理士が立ち会う具体的メリットについてご紹介していきます。
      </p>
      <h3 class="c-title-middle">
        調査が長引かない
      </h3>
      <p class="p-jobs__txt">
        税務調査は長ければ5日間かかることもあり、その分業務の負担が増えてしまいます。これでは会社側としての損失も多くなってしまうでしょう。専門知識があれば、それらの調査がスムーズに済む上、書類の不備などが見つかった場合も即座に対応できます。
      </p>
      <h3 class="c-title-middle">
        追加の課税を防ぐことができる
      </h3>
      <p class="p-jobs__txt">
        税務調査では調査中にはさまざまな質問をされます。なかには一般人では把握しきれていないことや、専門的なものもあるでしょう。こういった場合、専門家がいれば対応しやすく、税務上不利になる可能性は低いです。勘定した経費が使われた目的や事実なども含め、かなり具体的な調査が入ることも少なくありません。
      </p>
      <p class="p-jobs__txt">
        経費でないと判断された場合、所得として申告しなければならないためその分の追加課税を請求されることになります。そうなれば、法的な知識がない方は対応しきれず、課税を受け入れざるを得なくなってしまうこともあります。そのため、経費の目的や事実以外にも法的根拠に基づいて対処する必要があるのです。法的根拠があれば、無駄な追加課税を防ぐこともできます。
      </p>
      <h3 class="c-title-middle">
        税務署とのやりとりを一任できる
      </h3>
      <p class="p-jobs__txt">
        専門知識のある方がいれば税務署との交渉ややり取りを委任できるというメリットもあります。そのため税務調査をする上で必要な調査日程の調整やなどのやり取りも全て任せられるのです。それだけでも経営者の時間の負担、精神的ストレスがかなり軽減されるでしょう。事前に通知がある場合は指摘内容が把握できていますから、調査での質問にもきちんと回答できるはずです。
      </p>
      <p class="p-jobs__txt">
        税務署員に対応するには、やはり専門知識がある有資格者が有利です。資格があればその状況に応じて対応できますし、細かい指摘にも法的根拠を述べられるでしょう。自分一人で、これら全ての対応をするのは難しいことです。税理士がいれば、面倒な交渉ややり取りを含め全て一任できます。
      </p>
    </div>

    <div class="p-jobs__head">
      <h2 class="c-title">
        税務調査に強い税理士の特徴
      </h2>
      <p class="p-jobs__txt">
        確かに専門家がいれば調査の際も安心できますが、なかには対応に慣れていない方もいます。そのため、できるだけ調査に強く対応能力のある方を選択したいものです。この段落では、税務調査に強い税理士の特徴についてご紹介します。
      </p>
      <h3 class="c-title-middle">
        税税務調査の経験が豊富
      </h3>
      <p class="p-jobs__txt">
        さまざまな税理士がいるなかでも、特に税務調査の経験が豊富な方を選択しましょう。同じ資格を持っていても、税務の知識には差異があります。特に税務調査のような専門性の高い分野は経験している方でないと分からないことも多いです。実際に調査の割合は10%を切ることもあり、それだけ調査経験のある方は少ないといえます。(国税庁資料)
      </p>
      <p class="p-jobs__txt">
        そのため、たとえ税理士資格を所持していたとしても、うまく対応できない可能性もあるのです。対応能力の高い方を選ぶなら、何度も調査に関わっている方を選択しましょう。その経験が豊富であれば、調査の対応能力にも期待できます。税理士に委託する場合は、まず、それらの経験を確認しておくと良いでしょう。
      </p>
      <h3 class="c-title-middle">
        納税者の味方になってくれる
      </h3>
      <p class="p-jobs__txt">
        通常の調査の場合、あくまで任意であり強制ではありません。そのため納税者の意向に沿い調査に当たる必要があります。しかし、なかには強制的な態度をとる、プライベートに踏み込むなど、威圧的な調査員がいるのも事実です。こういった場合、税務上関係のないことについては述べる必要はありません。たとえ調査される側だとしても、権利はあります。
      </p>
      <p class="p-jobs__txt">
        調査される際はできるだけ納税者の味方になってくれる方を選択しましょう。税理士のなかにも業務態度が悪い方やきちんと対応しない方もいます。せっかく税理士に委託したのに、調査員の言いなりで終わってしまっては意味がありません。きちんと正当性や権利などを主張してくれる方を選択しましょう。
      </p>
      <h3 class="c-title-middle">
        税法に詳しい
      </h3>
      <p class="p-jobs__txt">
        税理士は、試験に合格していても知識はそれぞれ異なります。科目によっては合格していないこともあるため、得意な分野も変わってくるでしょう。しかし、科目に合格していないからといって勉強をしていないわけではありません。確かに試験はある程度の指標にはなりますが、試験だけで知識量を図れるわけではないのです。たとえ試験に合格していなくても、実務経験がある場合は合格者より知識量が多いこともあります。もちろん教科書で学ぶ知識は重要ですが、そのような経験から学ぶ知識も大きいものです。
      </p>
      <p class="p-jobs__txt">
        調査に立ち会う場合は、それらの総体的な知識が必要となります。時代の変化に伴い、会計基準には新しい勘定項目も増えています。そのため、なじみのない方にとっては初めての経験となる項目も多いのです。こういった場合は実務経験が重要となります。
      </p>
    </div>
    <p class="p-top__btn">
      <%= link_to contacts_path, class: 'c-btn-cta' do %>
        税理士紹介を依頼する
      <% end %>
    </p>
    <%= render template: '/components/topic_article_list', locals: { topic_article: @topic_article } %>
  </div>
</div>