<% provide(:title, '顧問税理士 - ') %>
<% breadcrumb :t2 %>
<div class="p-jobs">
  <div class="p-jobs__main-view p-jobs__main-view-1">
  </div>
  <div class="p-jobs__content">
    <div class="p-jobs__head">
      <h1 class="c-title">
        顧問税理士とは
      </h1>
      <p class="p-jobs__txt">
        会社の経営者にとって、顧問税理士はとても頼りになる存在です。顧問契約を結んだ税理士のことをいいますが、依頼する業務内容は契約によってそれぞれ異なります。必要ないのではと感じる人もいるかもしれませんが、顧問税理士に業務を依頼することで有益なアドバイスを得られたり時間を有効活用できるなど様々なメリットがあります。会社の規模に関係はなく、規模が小さな会社であっても同様です。面倒な経理手続きを代行してもらうこともできますし、融資など資金面のアドバイスをもうらこともできます。顧問税理士を雇うことで、どのようなメリットが実感できるのかを詳しく解説します。また、実際に雇う場合にはどの程度の費用相場も紹介していきます。
      </p>
    </div>
    <div class="p-jobs__head">
      <h2 class="c-title">
        顧問税理士の役割は?
      </h2>
      <p class="p-jobs__txt">
        顧問税理士の役割には、税務代理・税務書類作成・税務に関する相談があります。税務は法人税や所得税、消費税といった税金の申告やそれに関わる業務のことをいいます。会社を運営するためには、正しく税金を納めることが欠かせません。
      </p>
      <h3 class="c-title-middle">
        税務代理
      </h3>
      <p class="p-jobs__txt">
        税務代理とは、税金に関する申告や申請を会社に代わって行う業務のことをいいます。その中でも最も代表的な業務は確定申告で、必要な書類を揃えて税務署に申告して納税するものです。税務署の調査を受ける際に立ち会うこともありますし、決定に不服がある場合には不服申し立てを行うこともあります。税務代理は誰でも行うことができるわけではなく、税理士の独占業務とされています。税理士の国家資格を持っていなければ行うことはできません。
      </p>
      <h3 class="c-title-middle">
        税務書類の作成
      </h3>
      <p class="p-jobs__txt">
        税務書類の作成も顧問税理士の代表的な業務の1つになります。税務署を始めとする官公庁に提出する書類を作成します。税務書類には、確定申告の際の申告書や相続税の申告書等があります。申告書の内容によって課税される金額が変わって来るので、申告書は会社経営にとって非常に重要なものです。そのため税務書類の作成には、税務や法律に関する専門的な知識も必要になります。確定申告書類の作成は、年に1回行っている業務です。
      </p>
      <h3 class="c-title-middle">
        税務相談
      </h3>
      <p class="p-jobs__txt">
        税務相談も顧問税理士の業務の1つで、税務に関することであれば何でも相談することができます。対面で相談する場合もありますし、電話やメールなどでも相談することも多くあります。例えば、勘定科目はどれに該当するのかや支払う必要のある税金はいくらぐらいになるのか等です。税務相談も税理士の独占業務なので、国家資格を持たない人に相談することはできません。税務はとても複雑なことも多いので、正しい知識を持っている人にアドバイスを受ける必要があります。
      </p>
    </div>

    <div class="p-jobs__head">
      <h2 class="c-title">
        顧問税理士の費用相場は?
      </h2>
      <div class="p-article-detail__scroll">
        <table>
          <caption>法人の場合</caption>
          <tr>
            <th rowspan="3">年間売上</th>
            <th colspan="3">月額顧問料</th>
            <th rowspan="3">記帳代行も依頼する場合（月額）</th>
            <th rowspan="3">決済料</th>
          </tr>
          <tr>
            <th colspan="3">訪問頻度</th>
          </tr>
          <tr>
            <th>毎月</th>
            <th>3ヶ月に1度</th>
            <th>6ヶ月に1度</th>
          </tr>
          <tr>
            <td>1000万円未満</td>
            <td>2万5000円〜</td>
            <td>2万円〜</td>
            <td>1万5000円〜</td>
            <td>＋5000円〜</td>
            <td rowspan="6">月額顧問料の4〜6ヵ月分</td>
          </tr>
          <tr>
            <td>1000万円以上3000万円未満</td>
            <td>3万円〜</td>
            <td>2万5000円〜</td>
            <td>2万円〜</td>
            <td>＋5000円〜</td>
          </tr>
          <tr>
            <td>3000万円以上5000万円未満</td>
            <td>3万5000円〜</td>
            <td>3万〜</td>
            <td>2万5000円〜</td>
            <td>＋5000円〜</td>
          </tr>
          <tr>
            <td>5000万円以上1億円未満</td>
            <td>4万円〜</td>
            <td>3万5000〜</td>
            <td>3万円〜</td>
            <td>＋1万円〜</td>
          </tr>
          <tr>
            <td>1億円以上5億円未満</td>
            <td>6万円〜</td>
            <td>5万〜</td>
            <td>4万円〜</td>
            <td>＋1万円〜</td>
          </tr>
          <tr>
            <td>5億円以上</td>
            <td>応相談</td>
            <td>応相談</td>
            <td>応相談</td>
            <td>応相談</td>
          </tr>
        </table>
      </div>
      <br />
      <div class="p-article-detail__scroll">
        <table style="margin: 0 auto">
          <caption>個人の場合</caption>
          <tr>
            <th rowspan="3">年間売上</th>
            <th colspan="3">月額顧問料</th>
            <th rowspan="3">記帳代行も依頼する場合（月額）</th>
            <th rowspan="3">決済料</th>
          </tr>
          <tr>
            <th colspan="3">訪問頻度</th>
          </tr>
          <tr>
            <th>毎月</th>
            <th>3ヶ月に1度</th>
            <th>6ヶ月に1度</th>
          </tr>
          <tr>
            <td>1000万円未満</td>
            <td>2万円〜</td>
            <td>1万5000円〜</td>
            <td>1万円〜</td>
            <td>＋5000円〜</td>
            <td rowspan="5">月額顧問料の4〜6ヵ月分</td>
          </tr>
          <tr>
            <td>1000万円以上3000万円未満</td>
            <td>2万5000円〜</td>
            <td>2万〜</td>
            <td>1万5000円〜</td>
            <td>＋5000円〜</td>
          </tr>
          <tr>
            <td>3000万円以上5000万円未満</td>
            <td>3万円〜</td>
            <td>2万5000円〜</td>
            <td>2万円〜</td>
            <td>＋5000円〜</td>
          </tr>
          <tr>
            <td>5000万円以上1億円未満</td>
            <td>3万5000円〜</td>
            <td>3万〜</td>
            <td>2万5000円円〜</td>
            <td>＋1万円〜</td>
          </tr>
          <tr>
            <td>1億円以上</td>
            <td>応相談</td>
            <td>応相談</td>
            <td>応相談</td>
            <td>応相談</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="p-jobs__head">
      <h2 class="c-title">
        顧問税理士を雇うメリット・デメリット
      </h2>
      <p class="p-jobs__txt">
        顧問税理士を雇うメリットには、節税方法を教えてもらえることや資金繰りのアドバイスをもらえること、税理士の人脈を生かせることなどがあります。ただしデメリットもあり、月額の顧問料を負担に感じる人もいます。
      </p>
    </div>

    <div class="p-jobs__head">
      <h2 class="c-title">
        顧問税理士を雇うメリット
      </h2>
      <h3 class="c-title-middle">
        節税方法を教えてもらえる
      </h3>
      <p class="p-jobs__txt">
        顧問税理士を雇うメリットには、税制に精通している税理士に節税方法を教えてもらえることが挙げられます。節税対策を講じることで支出を抑えることができます。税制は常に変化しているので、それに対応した対策をとることが求められます。
      </p>
      <h3 class="c-title-middle">
        資金繰りのアドバイスをもらえる
      </h3>
      <p class="p-jobs__txt">
        資金繰りのアドバイスをもらえることも顧問税理士を雇うメリットの1つです。会社を経営する上で切っても切り離せないのが資金調達ですが、金融機関から融資を受けたり助成金や補助金を受けるといった方法があります。金融機関と顧問税理士が直接交渉することもありますし、活用できそうな助成金や補助金について教えてもらうこともできます。金融機関や行政の審査を通りやすくするために、事業計画書の作成をサポートしてもらう場合もあります。
      </p>
      <h3 class="c-title-middle">
        税理士の人脈を利用できる
      </h3>
      <p class="p-jobs__txt">
        税理士には様々なネットワークがあります。複数の企業と顧問契約を結んでいる事務所がほとんどなので、顧問税理士を通じて他の企業との取引に発展することもあるからです。また、弁護士・司法書士・行政書士・社会保険労務士といった他の資格職の人とのネットワークも構築されています。会社を経営する上では、従業員の働き方などについても検討しなければいけないこともあるでしょう。そういった時には社会保険労務士の力が必要になることもあります。法律上のトラブルが発生した時には、司法書士や弁護士の専門的な知識が役立つこともあります。顧問税理士にそういった問題も相談することで、それに対応出来る人材を紹介してもらうことができます。
      </p>
    </div>

    <div class="p-jobs__head">
      <h2 class="c-title">
        顧問税理士を雇うデメリット
      </h2>
      <h3 class="c-title-middle">
        月額の顧問料が負担になる
      </h3>
      <p class="p-jobs__txt">
        顧問税理士を雇う場合には、デメリットについても考えなければなりません。デメリットとして挙げられるのは顧問料を支払う必要があることです。顧問料は毎月一定額を支払う必要があるので、それが負担に感じることもあります。特に事業を始めたばかりの頃は経営が軌道に乗っていないので、費用負担が大きいと感じることも多いようです。
      </p>
      <h3 class="c-title-middle">
        追加料金がかかる可能性も
      </h3>
      <p class="p-jobs__txt">
        顧問税理士を雇うデメリットには、依頼内容によって追加料金が発生することもあることが挙げられます。顧問料で対応できる範囲を超えていれば、追加の費用が発生してしまいます。顧問料を支払っていれば大丈夫だと思っていると、追加費用が発生した時にがっかりすることもあるようです。税理士と顧問契約を結ぶ場合には、業務の範囲をきちんと確認しておくようにしましょう。
      </p>
    </div>
    <p class="p-top__btn">
      <%= link_to contacts_path, class: 'c-btn-cta' do %>
        税理士紹介を依頼する
      <% end %>
    </p>
    <%= render template: '/components/topic_article_list', locals: { topic_article: @topic_article } %>
  </div>
</div>
