<% provide(:title, '経理・決算 - ') %>
<% breadcrumb :t7 %>
<div class="p-jobs">
  <div class="p-jobs__main-view p-jobs__main-view-1">
  </div>
  <div class="p-jobs__content">
    <div class="p-jobs__head">
      <h2 class="c-title">
        経理とは?
      </h2>
      <p class="p-jobs__txt">
        経理という言葉は経営管理の略で、企業が事業を営むときに生じる金銭の動きを数値化して管理する仕事です。利益を生み出し資産を把握するには仕入れや販売、経費の支払のような金銭の流れを把握することが重要になりますが、これらを帳簿に正確に記録することで収支を管理します。
      </p>
      <p class="p-jobs__txt">
        それでは経理は計算書類を作成する仕事なのでは、と思うかもしれませんが、経理は経営資源といわれる人や物などについても数値化して管理します。そのため企業が事業運営する上でとても重要で、規模の小さな企業では総務や人事を兼ねるケースもあります。
      </p>
    </div>
    <div class="p-jobs__head">
      <h2 class="c-title">
        経理と財務・会計との違い
      </h2>
      <p class="p-jobs__txt">
        経理と財務、会計の違いですが、それぞれお金を扱う仕事であることは同じですが、似ているようで違います。簡単にいうと経理の仕事の一部が会計業務で、経理が作成した資料をもとに資金調達などをおこなうのが財務の仕事です。
      </p>
      <h3 class="c-title-middle">
        経理と財務の違い
      </h3>
      <p class="p-jobs__txt">
        経理と財務の仕事はまったく違います。経理が貸借対照表や決算書を作成するため間違えられやすいですが、財務はこれらの資料をもとに資金調達や資産運用などをおこないます。つまり経理は企業からでていくお金や利益を管理しますが、財務は事業活動に必要なお金を集めて管理するのが仕事なのです。
      </p>
      <h3 class="c-title-middle">
        経理と会計の違い
      </h3>
      <p class="p-jobs__txt">
        会計は会社が支払うお金や入ってくるお金を全般的に管理する仕事で、経理業務と重なる部分があります。会計業務には経営者や管理者に提供することが目的の管理会計と、会計情報を社内外にリリースすることを目的にする財務会計に分けられますが、このうち財務会計が経理業務と重なります。
      </p>
    </div>
    <div class="p-jobs__head">
      <h2 class="c-title">
        経理の仕事内容
      </h2>
      <p class="p-jobs__txt">
        経理の基本的な仕事はお金の流れに関する情報を把握し、帳簿に記したり税金の申告や決算書を作成することです。年間を通じてみると大きく3つのサイクルがあり、日々のお金の流れを管理する日次業務、1か月単位で予算計画と実績を照らし合わせる月次業務、年間の収支や財務状況をとりまとめる年次業務があります。
      </p>
      <h3 class="c-title-middle">
        経理の日次業務
      </h3>
      <p class="p-jobs__txt">
        経理の日次業務は日々発生する金銭や資産の流れを数値化して管理することです。現金などの出し入れを管理する出納業務や経費を精算する経費精算業務、取引毎に仕訳を伝票に記載する伝票起票業務や取引データを入力するシステム入力業務です。これらの他にも新規の取引先の登録や、既に登録されている情報が変更になった場合のデータ修正、物品の受発注や在庫管理業務など実にさまざまで、一度に動かす金額も大きいため注意が必要になります。
      </p>
      <h3 class="c-title-middle">
        経理の月次業務
      </h3>
      <p class="p-jobs__txt">
        月次業務は取引先への請求書の発行や支払い、給与計算や月次決算書の作成などです。これら以外にも入金管理、売掛金の管理業務があり、他には従業員の給与計算と支払い、住民税・源泉所得税の納付や社会保険料の納付、月次決算書の作成などがあります。また、これらのうち取引先への請求は営業が、従業員の給与や社会保険料の計算は人事がおこなったりと企業によって担当する部署が異なることもあります。毎月作成される月次決算書はその後の経営方針を決定するための大切な資料です。
      </p>
      <h3 class="c-title-middle">
        経理の年次業務
      </h3>
      <p class="p-jobs__txt">
        年間でみた場合の業務もたくさんあり、特に決算期に前後して決算のとりまとめや決算書の作成をおこなうため多忙になります。決算書は会社の財務状況を表す資料で株主総会でも使用されるため重要な仕事のひとつです。この他には税務申告と支払業務、社会保険の算定基礎届の提出と労働保険の更新などがあります。また賞与計算と振り込み、年末調整や棚卸なども担当で、株主総会の準備も仕事のひとつです。月次同様、他の部署が担当する仕事もありますが年間を通してみても実に多くの業務があります。
      </p>
    </div>

    <div class="p-jobs__head">
      <h2 class="c-title">
        経理担当者が税理士に相談するべきこと
      </h2>
      <p class="p-jobs__txt">
        経理の業務は年間を通してとても多く勉強も必要になります。大企業では専門の部署があるのでなんとか対応できる場合もありますが、小規模な企業は大変です。税法上の知識が必要な場合や法律が改定されてよくわからない場合は、悩むよりも税理士に相談した方が簡単に問題が解決できることがあります。
      </p>
      <ul class="p-article-detail__list">
        <li class="p-article-detail__item">
          確定申告についての不明点
        </li>
        <li class="p-article-detail__item">
          税務調査の立会いについて
        </li>
        <li class="p-article-detail__item">
          税務相談
        </li>
      </ul>
      <p class="p-jobs__txt">
        経理担当者が税理士に相談した方がよい内容は3つあります。まず確定申告についてです。税理士は納税者に代わって税務署等への申告・申請することができる税金の専門家です。重要な業務に集中するためにも不明な点があれば税理士に相談した方が業務がスムーズです。
      </p>
      <p class="p-jobs__txt">
        税務調査の立会いについても同じことがいえます。調査自体は税理士が立ち会う必要はありませんが、税制改正などに対応する意味でも税理士に相談したり、立ち会ってもらうことができれば税務署への説明や折衝がスムーズです。
      </p>
      <p class="p-jobs__txt">
        また、調査内容に不服があったときは意見を代行してもらうことができますし、節税などの相談も税理士に相談した方がよい場合があります。コンサルタントも相談にのってくれますが、自分の会社に有利な税制対策はやはり税金の専門家に相談した方がよいといえます。
      </p>
    </div>

    <div class="p-jobs__head">
      <h2 class="c-title">
        決算とは?
      </h2>
      <p class="p-jobs__txt">
        決算とは、一定期間の収入と支出をすべて洗い出して利益と損失を計算する作業、およびその計算結果を決算書とよばれる書類群にまとめることを指します。決算の作業を終えた時点で、事業者は一定期間内であげた成績と期間終了時点における財務状態を知ることができます。
      </p>
      <p class="p-jobs__txt">
        一定期間のことは一般的に、国や地方自治体においては会計年度、その他の法人においては事業年度と呼ばれます。日本を含む多くの国では、事業を行っている個人・法人に対して年度終了後の一定期間内に税務申告を行う義務を課しており、その関係上決算は避けて通ることはできません。決算に関わる作業はすべて個人・法人が自身で行うのが原則ですが、日本では税理士に頼めば税務署への申告も含めて業務の大部分を代行してくれます。
      </p>
      <h2 class="c-title">
        決算・顧問契約を税理士に依頼するメリットは?
      </h2>
      <p class="p-jobs__txt">
        個人事業主や法人の中には、決算業務の依頼と顧問契約締結の両方を税理士と行っている所が少なくありません。このようにするメリットとしてまず挙げられるのは、相談をしながら節税対策ができることです。節税対策自体はネット上でたくさん紹介されていますが、その中から取り入れるべき対策法を選び出すのは至難の業です。そんなときに税理士と顧問契約を締結していれば、自社の経営状況と照らし合わせて適しているかどうかを判断してくれます。
      </p>
      <p class="p-jobs__txt">
        また、税理士は資金を調達したいときの相談にも便利です。顧問契約を結んでいる税理士であれば、受任している決算業務を通じて事業経営の状況をよく把握しているため専門知識に基づいた助言を受けられるほか、融資申込書類に税理士の署名を入れることが可能なため与信審査を通る可能性がアップします。
      </p>
    </div>

    <div class="p-jobs__head">
      <h2 class="c-title">
        決算・顧問契約がある場合の税理士報酬の相場は?
      </h2>
      <div class="p-article-detail__scroll">
        <table>
          <tr>
            <th>年間売上</th>
            <th>税理士報酬（決算料）</th>
          </tr>
          <tr>
            <td>1000万円未満</td>
            <td>10万円</td>
          </tr>
          <tr>
            <td>1000万円以上3000万円未満</td>
            <td>15万円</td>
          </tr>
          <tr>
            <td>3000万円以上5000万円未満</td>
            <td>18万円</td>
          </tr>
          <tr>
            <td>5000万円以上1億円未満</td>
            <td>24万円</td>
          </tr>
          <tr>
            <td>1億円以上</td>
            <td>要相談</td>
          </tr>
        </table>
      </div>
      <p class="p-jobs__txt">
        決算関係業務の依頼と顧問契約を行う場合に注意が必要なのは、年商などに応じて報酬の支払いが発生することです。顧問契約をしている税理士に決算関係の業務を依頼する場合の報酬は、おおむね月額顧問料の4～6ヶ月分が相場となっています。例えば、年商が1千万円未満の事業者の場合だと、顧問料は15,000円前後が相場といわれているため、決算関係業務を依頼した場合の相場は同じ月に発生する顧問料も含めると10万円前後ということになります。
      </p>
      <p class="p-jobs__txt">
        税理士への決算関係業務の依頼は、経営規模が小さく、資金が潤沢にあるとはいえない事業者の場合はデメリットになり得ます。しかし、事業者にマッチしている税理士であったなら、デメリットを上回るメリットが得られるでしょう。
      </p>
    </div>
    <p class="p-top__btn">
      <%= link_to contacts_path, class: 'c-btn-cta' do %>
        税理士紹介を依頼する
      <% end %>
    </p>
    <%= render template: '/components/topic_article_list', locals: { topic_article: @topic_article } %>
  </div>
</div>