<% provide(:title, '資金調達 - ') %>
<% breadcrumb :t5 %>
<div class="p-jobs">
  <div class="p-jobs__main-view p-jobs__main-view-1">
  </div>
  <div class="p-jobs__content">
    <div class="p-jobs__head">
      <h1 class="c-title">
        資金調達とは
      </h1>
      <p class="p-jobs__txt">
        開業・事業継続などで資金調達を受けるときは、税理士にまかせるのが一番です。お金の専門家に相談すれば審査の通過率を上げたり、好条件での融資を実現したりできます。審査では企業の将来性や安定性などが重視されるので、それらを明確に伝える必要があります。経営者本人でそれを行うよりも、専門家を通したほうが客観的に会社の強みを伝えられるのです。
      </p>
      <p class="p-jobs__txt">
        専門家に依頼をする場合は報酬が発生しますが、低金利で借り入れできれば金銭的な問題はクリアできることが多いです。資金調達に強い専門家に依頼をすることが、安全・着実に調達するポイントになります。交渉や審査のときに必要となる書類作成のサポートをしてもらえば、手続きの手間と時間を大幅に削減できるでしょう。
      </p>
    </div>
    <div class="p-jobs__head">
      <h2 class="c-title">
        資金調達に強い税理士の特徴
      </h2>
      <p class="p-jobs__txt">
        資金調達を成功させるためには専門家選びが重要になります。実績と経験が豊富にあること、借入希望先での勤務経験があること、経営革新等支援機関から認定されていること、などが大切になります。信頼できる専門家を探すことが審査通過率を高め、かつ低金利で借りるためのコツです。
      </p>
      <h3 class="c-title-middle">
        資金調達の実績や経験が十分
      </h3>
      <p class="p-jobs__txt">
        資金調達の実績が豊富にある税理士は、高確率で調達を成功させてくれます。実績は経験が育むものであり、経験なくして実績が増えることはありません。金融機関から借り入れするためには審査に通過する必要があり、そのために役立つのが専門家の交渉術です。交渉力に長けていれば審査の通過率が高くなるでしょうし、低金利の金融機関から借りられる可能性が大きいです。借入金には利息が発生しますので、少しでも低利率で借りるのが好ましいでしょう。
      </p>
      <p class="p-jobs__txt">
        日本政策金融公庫や銀行などが借入として一般的ですが、どこから借りるかによって対策は変わってきます。助成金や補助金に関する支援の問題もあり、具体的にどのような金融機関から調達できるのか、成功率はどのくらいか、などを確認しておく必要があります。
      </p>
      <h3 class="c-title-middle">
        資金調達を受けた会社で勤務経験がある
      </h3>
      <p class="p-jobs__txt">
        金融機関の融資部門の勤務経験のある専門家なら、審査における内部事情を把握しているので有利です。審査基準はそれぞれの金融機関によって異なり、一般に公開されることはありません。どのような基準を満たせば借りられるのか、また融資不可になるのか公表していないのです。
      </p>
      <p class="p-jobs__txt">
        調達を希望している金融機関の審査基準を知っているのは、過去にその金融機関に勤務していた人に限定されます。こうした人は審査に通過するコツを把握しているわけですから、まかせることで資金調達を受けられる可能性は高くなるでしょう。借入金の金利が高いほど返済は大変になるので、低金利の金融機関と交渉してくれる専門家は心強いです。あとから低金利の融資に乗り換えするよりも、最初から低金利で借りたほうが合理的です。
      </p>
      <h3 class="c-title-middle">
        経営革新等支援機関」として認定されている税理士であること
      </h3>
      <p class="p-jobs__txt">
        中小企業庁から経営革新等支援機関に認定されている税理士は、中小企業の強い味方になってくれます。認定を受けるためには専門的知識に加えて相応の実務経験が必須です。認定税理士は税務や財務・金融のプロであり、企業の経営支援を得意としています。
      </p>
      <p class="p-jobs__txt">
        金利優遇を勝ち取れる可能性もあり、実際に年率が半分未満になったという話は少なくありません。金利は最も大きな手数料と言われていますので、ここを抑えることは企業の黒字安定化のために大切です。
      </p>
      <p class="p-jobs__txt">
        利息が減れば企業の利益が増えるため、黒字化を実現させやすくなります。キャッシュフローの健全化につながりますので、事業融資においては0.1％の金利にこだわりましょう。借入総額が大きくなるほど0.1％の重みを実感するはずです。
      </p>
    </div>
    <div class="p-jobs__head">
      <h2 class="c-title">
        資金調達において税理士がやるサポート業務
      </h2>
      <p class="p-jobs__txt">
        税理士が対応している資金調達におけるサポートはさまざまです。書類の作成と添削はそのひとつであり、面倒な作業を代行してくれます。ほかにも金融機関と適切な交渉をして、財務状況の健全さをアピールするなどの対策もしています。
      </p>
      <h3 class="c-title-middle">
        書類の作成と添削
      </h3>
      <p class="p-jobs__txt">
        決算書や事業計画書の作成のうち、決算書作成ができる専門家は税理士だけです。記帳業務なども加えて書類作成を得意とする専門家を選ぶことが大切になります。実績を確かめるには税理士事務所の公式ホームページを確認するのが一番です。書類作成・添削が得意であること、申込書の簡潔なフォーマットを提案してくれること、などもポイントになります。
      </p>
      <p class="p-jobs__txt">
        融資を受けるためには財務状況が健全である必要があります。借り入れできる可能性が低い金融機関の審査を避けるためにも、現在の財務状況から融資可能な金融機関を絞り込んでいく作業も必要です。書類に不備があるだけで審査は不利になるので、書類作成と添削などのサポートを得意としている専門家に依頼してください。
      </p>
      <h3 class="c-title-middle">
        金融機関との交渉のサポート
      </h3>
      <p class="p-jobs__txt">
        金融機関は返済能力のある企業には積極的に融資をしたいと考えています。一方で返済能力が危ういと判断すれば融資はしないのです。金融機関はボランティアではありませんから、融資するべき相手かどうかよく見極めています。資金調達が得意な税理士は、日本政策金融公庫や地方銀行などと頻繁に交渉しています。
      </p>
      <p class="p-jobs__txt">
        融資担当者と面談するときは、専門家が同席していたほうが審査で有利になるのです。必要に応じて交渉をサポートしてくれるので、言葉に詰まったときなどに役立つでしょう。面談では現在の会社の財務状況が健全であることを明確にアピールする必要があります。ただ自分の言葉ではうまく伝えられないケースは多々あるので、ここは専門家にまかせたほうが安心です。
      </p>
      <h3 class="c-title-middle">
        資金調達の税理士報酬の相場
      </h3>
      <p class="p-jobs__txt">
        資金調達の支援を専門家から受ける場合、方法に応じた報酬が発生します。完全に業務代行をしてもらう場合、一部をスポットでまかせる場合、顧問税理士と契約する場合でそれぞれ報酬の相場が異なります。融資の金利に加えて報酬も確認し、会社の負担を抑えつつ調達する工夫が必要です。
      </p>
      <h3 class="c-title-middle">
        資金調達を代行（丸投げ）する場合
      </h3>
      <div class="p-article-detail__scroll">
        <table>
          <tr>
            <th></th>
            <th>補助金・助成金</th>
            <th>日本政策金融公庫</th>
            <th>金融機関</th>
          </tr>
          <tr>
            <td>着手金</td>
            <td>2万〜5万円</td>
            <td>3〜5万円</td>
            <td>2万〜5万円</td>
          </tr>
          <tr>
            <td>成功報酬</td>
            <td>調達額の15〜20%</td>
            <td>調達額の3%〜5%（調達額が高額の場合2〜3%）</td>
            <td>調達額の2%〜5%</td>
          </tr>
        </table>
      </div>
      <h3 class="c-title-middle">
        業務をスポットで依頼する場合
      </h3>
      <div class="p-article-detail__scroll">
        <table>
          <tr>
            <th></th>
            <th>事業計画書等、書類の作成</th>
            <th>資金調達や書類作成等のアドバイス</th>
          </tr>
          <tr>
            <td>報酬</td>
            <td>3万円〜5万円</td>
            <td>1時間1万円〜</td>
          </tr>
        </table>
      </div>
      <p class="p-jobs__txt">
        専門家に資金調達の依頼をする前に相場を把握しておく必要があります。資金調達をすべて代行してもらう場合は着手金と成功報酬が発生します。着手金は補助金・助成金で2～5万円、日本政策金融公庫で3～5万円、金融機関で2～5万円が相場です。成功報酬は調達額に応じて一定の利率で発生します。
      </p>
      <p class="p-jobs__txt">
        補助金・助成金で15～25％、日本政策金融公庫で3～5％、金融機関で2～5％です。日本政策金融公庫においては高額を調達する場合、2～3％の成功報酬に抑えられるのが普通です。 調達業務をスポットでまかせる場合は、事業計画書などの書類の作成業務で3～5万円、資金調達や書類作成などのアドバイスで1時間1万円が相場になります。
      </p>
      <p class="p-jobs__txt">
        顧問税理士に依頼するパターンでは、着手金は発生しないのが普通です。報酬は調達額の2～4％と低く抑えられることが多いです。契約内容に資金調達サポートが含まれている場合は、原則として契約料金以外は発生しません。
      </p>
    </div>
    <div class="p-jobs__head">
      <h2 class="c-title">
        資金調達を税理士に相談するメリット
      </h2>
      <p class="p-jobs__txt">
        ベストな資金調達方法は会社によって変わってきます。税理士に相談すれば最適な方法を提案してくれるのです。ほかにも面談に同行してくれる、書類作成のサポートをしてもらえるなどのメリットがあります。金融機関に会社の信用性を明確にアピールするためにも、専門家を通して交渉するのが得策です。
      </p>
      <h3 class="c-title-middle">
        その会社に合った資金調達方法を紹介してもらえる
      </h3>
      <p class="p-jobs__txt">
        資金調達をするうえで大切なのは、会社にマッチした方法で申し込みすることです。これは簡単なようで難しく、経営者自身が金融機関と交渉して失敗するケースは少なくありません。融資を受けられない理由は金融機関の審査基準に達していないためです。ただ審査基準は金融機関によって異なるので、借りられるところと借りられないところが出てきます。
      </p>
      <p class="p-jobs__txt">
        税理士に相談をするメリットは、会社にマッチした調達方法のアドバイスを受けられることです。客観的に財務状況を判断してくれるので、経営者自身で対応するより融資の成功率が高くなります。自分の会社のことは経営者が一番よく知っているはずですが、意外と客観視するのは難しいです。だからこそ専門家の目線から財務状況をチェックしてもらう必要があるわけです。
      </p>
      <h3 class="c-title-middle">
        面談に同行してもらえる
      </h3>
      <p class="p-jobs__txt">
        面談に同行してもらうことで、審査を有利に進めることができます。審査は交渉力がモノを言うので、いかに金融機関の担当者を納得させるかが重要です。返済能力をアピールするうえで大切なのは、説明に具体性を持たせることです。金融機関は営利事業である以上、返済能力のある会社にしか融資をしません。ここでの返済とは完済できるかどうかを指しています。いかに延滞せずにコツコツと返済していけるか、その具体例を交渉で説明する必要があるわけです。
      </p>
      <p class="p-jobs__txt">
        お金の専門家に同行してもらえば、面談のとき心強いのは間違いありません。面談を有利に進められますし、より高待遇の融資条件を引き出せる可能性があります。審査の通過率や金利に影響してくる問題ですから、やはり専門家に同席依頼をしたほうが有利です。
      </p>
      <h3 class="c-title-middle">
        書類作成のアドバイスをしてもらえる
      </h3>
      <p class="p-jobs__txt">
        資金調達における審査では、必要書類を提出することが必須です。ここでの書類とは求人面接に例えるなら履歴書や職務経歴書のようなものです。事業資金の調達では事業計画書作成をしっかりと行うことが大切になります。簡単にいえば会社の現況と将来性をいかに明確に提示するかが重要だということです。専門家に依頼すれば書類作成の具体的なアドバイスをもらえるでしょう。シンプルかつ明瞭に記載することが重要であり、ここがしっかりしていれば融資を受けやすいです。
      </p>
      <p class="p-jobs__txt">
        融資は可否で決定するものであり、その中間はありません。本来は融資を受けられる状況であっても、些細な不備があるだけで不可になるケースは多々あります。事業計画書は健全な事業運営を金融機関にアピールするための書類と言えます。
      </p>
    </div>
    <p class="p-top__btn">
      <%= link_to contacts_path, class: 'c-btn-cta' do %>
        税理士紹介を依頼する
      <% end %>
    </p>
    <%= render template: '/components/topic_article_list', locals: { topic_article: @topic_article } %>
  </div>
</div>
