<% provide(:title, '会社設立 - ') %>
<% breadcrumb :t4 %>
<div class="p-jobs">
  <div class="p-jobs__main-view p-jobs__main-view-1">
  </div>
  <div class="p-jobs__content">
    <div class="p-jobs__head">
      <h1 class="c-title">
        会社設立とは
      </h1>
      <p class="p-jobs__txt">
        会社設立する際に設立代行を使う人も多いようですが、設立代行はいわゆる行政書士が書類の作成および申請手続きを行うのが特徴で、一般的に税理士が関与することはないのではないでしょうか。ただ、行政書士の場合は設立までのサポートを中心に行うのが特徴で、税金に関する相談が必要になることも少なくありません。当然行政書士は税金の相談をすることができませんので税理士の力が必要になって来ます。ちなみに、株式会社の会社設立には公証役場で定款認証が必要になりますが、公証役場での手続きができるのは行政書士、法務局の登記所での登記申請は司法書士の資格を有する人が行うことができます。会社設立では士業というかたちで行われ、会社設立後の税務関係の処理は税理士が行うことになるわけです。
      </p>
    </div>
    <div class="p-jobs__head">
      <h2 class="c-title">
        会社設立を税理士に相談するタイミング
      </h2>
      <p class="p-jobs__txt">
        設立後の税務や会計も必要になるため、会社設立時に税理士に依頼した方が設立費用をゼロにできると考える人も多いようです。<br />
        また、設立時点から依頼するのでなく、設立時で依頼をしておいて会社を立ち上げた後に様子を見ながら税理士に依頼する2つのタイミングがあります。
      </p>
      <h3 class="c-title-middle">
        会社設立・起業時
      </h3>
      <p class="p-jobs__txt">
        設立代行業者の中には設立後の税務顧問を条件にして設立にかかる諸費用を全額無料にしているところもあり、会社設立が無料になるので税理士に相談したいと考える人も少なくありません。<br />
        ただ、起業後の状況も踏まえて考えておかないと、設立にかかる費用がゼロになっても顧問料の支払いで経費が圧迫するなど本末転倒になることもゼロとはいい切れません。そのため、税理士への顧問契約を結ぶべきか否かは本当に契約が必要であるのかを判断した上で行うことをおすすめします。
      </p>
      <h3 class="c-title-middle">
        会社設立後（1~2年後）
      </h3>
      <p class="p-jobs__txt">
        会社設立して1～2年経過するタイミングは売上も上向きになる時期、1期目の確定申告で税理士に相談するケースが多いといいます。<br />
        法人の決算申告は個人で行う決算や確定申告と比べると細かなものが多く、最初は自ら申告を行おうと思っていても申告書様式などを見て挫折してしまう、専門家にお願いしようと考えるケースが多いのです。
      </p>
      <h3 class="c-title-middle">
        法人化する時
      </h3>
      <p class="p-jobs__txt">
        個人事業主が会社設立を考えるとき、税金面で優遇を受けることができるなどの理由が挙げられますが、税金面で優遇を受けることができるのはある程度の年収を持っていることが条件で、年収が少なかったり見込める金額が少ない場合、逆に多くの税金を納めなければならないなど相談をするタイミングの一つといえます。個人事業を続けて1～2年で事業が軌道に乗る、消費税に関係で2年前の売上が1,000万円を超えているときには納税義務が発生するの法人への検討を考えるケースも多いのです。このようなケースでは税理士への相談がおすすめで、依頼することで本業に専念ができるようになる、複雑な税金の計算はプロに任せることができるメリットがあります。
      </p>
    </div>
    <div class="p-jobs__head">
      <h2 class="c-title">
        会社設立を税理士に相談するメリットは？
      </h2>
      <p class="p-jobs__txt">
        会社設立を税金のプロに相談するメリットには独占資格を持つので、税務申告や節税の依頼ができることが第一に挙げることができる部分です。他にも、資金調達や事業計画書の作成サポートを受けることができるなどのメリットもあります。
      </p>
      <h3 class="c-title-middle">
        節税対策ができる
      </h3>
      <p class="p-jobs__txt">
        独占業務は特定の士業資格を持つ人でなければ関与することができない業務を意味するもので、税金のプロともいえる士業資格には、税金相談や税務書類の作成および申告まですべてを一任できるメリットがあります。中でも、税務相談はこれから納めるべき税金を減らすことができるメリットを持つもので、簡単にいえば節税のチャンスを与えてくれることに繋がります。少しでも納める税金を減らしたいと考えているのであれば相談することをおすすめします。
      </p>
      <h3 class="c-title-middle">
        税務調査のリスク回避
      </h3>
      <p class="p-jobs__txt">
        税務調査は法人化してから2年目など売上が上昇して来たときに行われるもので、帳簿に不備がないか納めるべき税金はすべて支払っているのかなど細かな調査が実施されます。仮に、税務調査で多額の追徴課税が取られてしまうと延滞税などの罰金を払わなければならなくなることもありますので、適切な申告を行うためにも専門家への相談が大切、専門家への相談をすることは税務調査のリスク回避に繋がるメリットや税務調査がどのように行われるのかもアドバイスして貰えます。
      </p>
      <h3 class="c-title-middle">
        資金調達などの資金繰りに関するサポートが受けられる
      </h3>
      <p class="p-jobs__txt">
        会社経営を円滑にするためには必要なときに必要額を手に入れておく必要があり、資金調達を円滑に行うためにも専門家への相談が安心に繋がります。資金調達のやり方には、知人・親戚・金融機関からの借り入れなどがありますが他にも助成金や補助金、ベンチャーキャピタルからの出資などもあり様々です。尚、資金調達を成功させるためには事業計画書が必須であり、計画書の立案から資金調達を成功に導くためにも専門家に依頼すると良いでしょう。
      </p>
      <h3 class="c-title-middle">
        本業に専念することができる
      </h3>
      <p class="p-jobs__txt">
        申告書類の作成をはじめ、日々の帳簿付けなど少人数で会社を経営している場合には本業以外にもやるべきことが多くなりがちです。専門家に依頼するメリットの中には専門分野はプロに任せる、自分たちは本来の業務に集中できるメリットがあります。
      </p>
    </div>

    <div class="p-jobs__head">
      <h2 class="c-title">
        税理士に会社設立を依頼する費用相場
      </h2>
      <p class="p-jobs__txt">
        会社設立時には資金調達や事業計画書の作成が必要になることも少なくありませんし、設立後には記帳や決算申告などの業務も必要になる、これらの業務を専門化に依頼する場合の費用相場を把握しておくことが大切です。
      </p>
      <div class="p-article-detail__scroll">
        <table>
          <tr>
            <th>項目</th>
            <th>株式会社設立時の費用</th>
            <th>合同会社設立時の費用</th>
          </tr>
          <tr>
            <td>定款印刷代</td>
            <td>0円〜4万円</td>
            <td>なし</td>
          </tr>
          <tr>
            <td>定款認証手数料</td>
            <td>5万円</td>
            <td>なし</td>
          </tr>
          <tr>
            <td>謄本交付手数料</td>
            <td>2000円</td>
            <td>2000円</td>
          </tr>
          <tr>
            <td>登録免許税</td>
            <td>15万円</td>
            <td>6万円</td>
          </tr>
          <tr>
            <td>税理士手数料</td>
            <td>0円〜5万円</td>
            <td>0円〜5万円</td>
          </tr>
          <tr>
            <td>司法書士手数料</td>
            <td>0円〜5万円</td>
            <td>0円〜5万円</td>
          </tr>
          <tr>
            <td>合計</td>
            <td>20万2000円〜30万2000円</td>
            <td>6万2000円〜16万2000円</td>
          </tr>
        </table>
      </div>
      <p class="p-jobs__txt">
        会社設立時にかかる費用は、定款の印紙代や認証手数料・謄本交付手数料や登録免許税など様々です。これに加えて税理士や司法書士などへの報酬も含まれて来ます。ちなみに、定款の印紙代は電子定款認証手続きを利用した場合にはゼロになり、紙の定款では4万円が必要です。
      </p>
      <p class="p-jobs__txt">
        設立代行を利用したときには電子定款認証で行ってくれることが多いため設立費用自体を減らす効果も期待できます。税理士への手数料も顧問契約を結んだ場合には無料になることもあります。
      </p>
      <p class="p-jobs__txt">
        尚、事業計画書の作成支援は5万円・資金調達支援は成功報酬として調達資金の1％、記帳代行は1仕訳あたり50～100円、決算申告は10万円などが相場、本業に専念できることや節税もできるなど税理士への依頼がおすすめです。
      </p>
    </div>
    <p class="p-top__btn">
      <%= link_to contacts_path, class: 'c-btn-cta' do %>
        税理士紹介を依頼する
      <% end %>
    </p>
    <%= render template: '/components/topic_article_list', locals: { topic_article: @topic_article } %>
  </div>
</div>
