<% provide(:title, '人事労務 - ') %>
<% breadcrumb :t9 %>
<div class="p-jobs">
  <div class="p-jobs__main-view p-jobs__main-view-1">
  </div>
  <div class="p-jobs__content">
    <div class="p-jobs__head">
      <h1 class="c-title">
        人事労務とは?
      </h1>
      <p class="p-jobs__txt">
        人事労務の業務に類似しているものに会社の中の備品管理・社内環境整備・社内イベント企画など幅広い業務を行う総務があり、総務・人事・労務の3つを兼ねているケースも少なくありません。企業の中では人にまつわる業務を一手に抱える部署、日々の業務を行うだけでなく会社の改善にも貢献している、問題点に気づくための洞察力・提案力・企画力が問われる仕事です。
      </p>
      <p class="p-jobs__txt">
        働いている人々が業務に円滑に行えるよう、会社の枠組みを作り出す縁の下の力持ち的な存在が人事労務の特徴および役割になります。ちなみに、この仕事に向いている人は会社を少しでも良くしたいと考えている人や社員の役に立ちたいと考えている人など、ここでの社員は経営者や従業員全員を対象にしているものです。
      </p>
    </div>
    <div class="p-jobs__head">
      <h2 class="c-title">
        税理士に頼める人事労務の業務とは?
      </h2>
      <p class="p-jobs__txt">
        人事労務の仕事範囲はとても広いので、専門家でもある税理士にサポートを考える経営者も少なくありません。ただ、税理士だからといって依頼できることとできないこともある、どのような業務を依頼することができるのかを知っておくと安心です。
      </p>
      <h3 class="c-title-middle">
        人事労務コンサル
      </h3>
      <p class="p-jobs__txt">
        人事労務の仕事を税理士に依頼したい、どのような仕事をお願いできるのかを考えたときに第一に挙げることができるのは人事労務コンサルティング業務です。人事や労務の問題は昨今の経営の中で対応しておかなければ大きなリスクになることもある、良い制度設計は良質な雇用の確保に繋がる、離職率を下げる効果や生産性の向上などに繋がって来ます。
      </p>
      <p class="p-jobs__txt">
        このような制度設計をどのように行うべきか、適切なアドバイザーになってくれるのが税理士の役割の一つ、一見税務相談や税務書類の作成および申請などの業務だけを行うと思われがちですが、コンサルティング経験を豊富に持つ税理士が介入することで現在の人事及び労務の基本的な設計を図り効率よい業務を遂行できるようになります。
      </p>
      <h3 class="c-title-middle">
        人事労務手続き代行
      </h3>
      <p class="p-jobs__txt">
        労働時間・休日など従業員の勤怠管理をはじめ、給与の計算や各種保険手続き業務をアウトソーシングすることができるのが人事労務手続き代行です。尚、手続き代行は必要になる手続きや確認するべき事項が異なるので、どこまで依頼すべきかは個々の状況に応じて変わります。
      </p>
      <h3 class="c-title-middle">
        給与計算代行
      </h3>
      <p class="p-jobs__txt">
        給与計算に関する業務は独占業務ではないので、特定の資格がないとできないものではありません。ただ、給与計算は所得税や住民税の控除、入社時および退職時の雇用保険や社会保険の手続きなども多くありますので、士業の中から選択する場合には税理士もしくは社労士から選ぶのが一般的といえましょう。
      </p>
      <p class="p-jobs__txt">
        ちなみに、社労士は顧客からの依頼を受け社会保障法令や労働関連法令に基づいた書類作成を行うことができる、経営の中で必要となる社会保険や労務管理に関する指導および相談ができる資格です。税理士は税務のプロになりますが社労士は人事や労務管理のプロなどの違いを持ちますので、給与計算代行を利用するときには税理士への相談をするのがおすすめです。
      </p>
      <h3 class="c-title-middle">
        年末調整
      </h3>
      <p class="p-jobs__txt">
        年末調整を税理士に依頼するメリットには、年末調整に関わる手間を大幅に削減できること、手間に比べるとアウトソーシングした方が安価であるなどが挙げられます。従業員が数十名や数百名いる場合は別ですが、数名程度であれば1～3万円で収まることも少なくありません。
      </p>
      <h3 class="c-title-middle">
        法定調書作成
      </h3>
      <p class="p-jobs__txt">
        所得税法や相続税法などの規定により、税務署への提出が義務付されている資料を法定調書と呼びます。法定調書の種類には、給与所得の源泉徴収票・退職所得の源泉徴収票・報酬や料金、契約金および賞金の支払調書なども含まれます。このことからも、年末調整を終えた後は1月31日までに税務署および市区町村に対して源泉徴収票と法定調書合計表の提出が必須であります。
      </p>
      <p class="p-jobs__txt">
        ちなみに、法定調書は現在59種類の資料があり、それぞれの規定に従い作成を要しますので、こうした作業を軽減するためにも税理士の力が必要になることも少なくありません。全従業員の協力を得ながら計画的に進めていく必要がありますが、年末の多忙期に行うなどからも担当者への負担は大きくなってしまいます。
      </p>
    </div>
    <p class="p-top__btn">
      <%= link_to contacts_path, class: 'c-btn-cta' do %>
        税理士紹介を依頼する
      <% end %>
    </p>
    <%= render template: '/components/topic_article_list', locals: { topic_article: @topic_article } %>
  </div>
</div>