.breadcrumb li {
  font-size: 12px;
  display: inline-block;
  position: relative;
  padding: 5px 10px 5px 15px;
  a {
    text-decoration: none;
    color: #5D5D5D;
  }
  &:not( :first-child )::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: -5px;
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    margin-top: -4px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}
