<% provide(:title, '経営コンサル - ') %>
<% breadcrumb :t6 %>
<div class="p-jobs">
  <div class="p-jobs__main-view p-jobs__main-view-1">
  </div>
  <div class="p-jobs__content">
    <div class="p-jobs__head">
      <h1 class="c-title">
        経営コンサルタントとは?
      </h1>
      <p class="p-jobs__txt">
        経営コンサルタントとは、クライアントとなる企業や自治体などが抱える課題について専門的な知識や経験に基づくアドバイスを行うことが仕事です。そうすることで企業に利益をもたらし、発展する可能性が生まれます。企業の経営者も経営は知っていますが、データを分析するのに長けているのは経営コンサルタントです。それに組織ではいろいろなしがらみがあって、改革が出来ないこともあります。その点、外部の経営コンサルタントは、クライアントの利益を第一にしているので的確なアドバイスが可能です。
      </p>
      <p class="p-jobs__txt">
        そんな経営コンサルタントにいくつかのタイプに分類できます。コンサルティングファームという経営コンサルタントの企業が顧問契約を結んだクライアントのために動いたり、税理士が業務の一環として経営コンサルティングを行うこともあります。
      </p>
    </div>
    <div class="p-jobs__head">
      <h2 class="c-title">
        税理士に経営コンサルタントを依頼するメリット
      </h2>
      <p class="p-jobs__txt">
        税理士に会計処理だけでなく、経営コンサルタントの依頼をすることのメリットは、これまでの付き合いから会社の財務状況や内情を誰よりも把握していることです。そのデータを基にしたアドバイスならば、業績を上げるために必要なものが見えてみます。なにより、全く見知らぬ経営コンサルタントよりも良く知っている相手のほうが信頼できるでしょう。会社の将来をかけたアドバイスをもらうのであれば、信頼できる相手からのほうが安心して経営に取り入れられます。
      </p>
      <p class="p-jobs__txt">
        それに多くの企業と契約をしている税理士は、様々な経営手法を熟知した専門家です。その知識と経験を生かした経営コンサルティングを受けることができます。普通の経営コンサルタントではできないことです。
      </p>
    </div>
    <div class="p-jobs__head">
      <h2 class="c-title">
        税理士業務と経営コンサルタントの業務の違い
      </h2>
      <p class="p-jobs__txt">
        税理士の業務は、会計処理や記帳代行、節税についてのアドバイスなど税務に関わることです。税務は一つ間違いをすれば、あとで追徴金などのペナルティが発生することもありますから、正しく処理をする能力が必要になります。
      </p>
      <p class="p-jobs__txt">
        一方で経営コンサルタントの業務は、業績を上げるためにどのようなことをすればいいのかを分析してアドバイスすることです。そこで必要になるのは話を聞いたり書類を読んで情報を収集し、課題を解決する能力が求められます
      </p>
      <p class="p-jobs__txt">
        税理士の得た情報を生かせば経営コンサルティングを行うことができますが、逆に経営コンサルタントは税理士の業務を行うことは出来ません。なぜなら税理士は国家資格であり「税務代理」「税務書類の作成」「税務相談」という3つの独占業務は、資格を持たない人間が行うことが禁止されているからです。
      </p>
    </div>
    <p class="p-top__btn">
      <%= link_to contacts_path, class: 'c-btn-cta' do %>
        税理士紹介を依頼する
      <% end %>
    </p>
    <%= render template: '/components/topic_article_list', locals: { topic_article: @topic_article } %>
  </div>
</div>