<% provide(:title, '事業承継・M&A - ') %>
<% breadcrumb :t1 %>
<div class="p-jobs">
  <div class="p-jobs__main-view p-jobs__main-view-1">
  </div>
  <div class="p-jobs__content">
    <div class="p-jobs__head">
      <h1 class="c-title">
        事業承継とは
      </h1>
      <p class="p-jobs__txt">
        後継者に会社の経営を引き継ぐのが事業承継です。会社の経営者が高齢化した時に、のちの経営を任せる相手を探し、権利を譲渡することを意味します。<br />
        この手続きにおいては、税理士を上手に活用していくことで多彩なメリットを引き出せます。現金や不動産と言った保有資産も引き継いでいきますので、できるだけ税負担をひらしたいもの。また経営支配権を譲渡することになるので、こちらにも注意点が複数あります。このような事情から色々な専門家が活用できますが、中でも税理士は税制を中心に役立つ知識を持っているため、頼れる存在です。この記事ではその活用方法と共に、事業承継の色々なチェックポイントについて紹介していきます。どんな方法があるのかや、具体的な流れについてもわかりやすく解説しました。
      </p>
    </div>

    <div class="p-jobs__head">
      <h2 class="c-title">
        事業承継の現状と経営者の悩み
      </h2>
      <p class="p-jobs__txt">
        事業を譲渡する相手は従前は経営者の親族が約8割を占めていました。しかし近年は少子高齢化の問題もあり、経営者不足が深刻化しています。そんな事情もあって現在は、中小企業の事業承継をスムーズにするための「経営承継円滑化法」が制定され、税法にもこの手続関連における軽減措置の特例が盛り込まれることになったのです。この結果として事業承継の相手は子供に対する割合が大幅に減少し、他の経営者などへ譲られるケースが増えているのが現状となります。<br />
        現経営者の悩みは後継者不足だけではなく、他にも各種税や相続の問題、譲渡後も会社が上手く機能するかなど多彩です。数多くの注意点があるので、経営者の思いも大切にしながら、しっかりと解決策を導き出せる事務所を選んでいくことが重要となります。
      </p>
    </div>

    <div class="p-jobs__head">
      <h2 class="c-title">
        事業承継の方法
      </h2>
      <p class="p-jobs__txt">
        一言で事業承継と表現しても、そのための方法は数多くあります。親族に引き継ぐか従業員や、他の経営者を探すことも可能です。いずれの方法を選ぶかで、株式や資産譲渡の方法などが違ってきたりもしますから、まずはしっかりと調査して適切な手段を選んでくことが大切となります。
      </p>
      <h3 class="c-title-middle">
        親族への承継
      </h3>
      <p class="p-jobs__txt">
        こちらは無償での贈与を行って、経営者の子供や甥・婿に事業を引き継いていく手段となります。以前は主流だったのですが、近年は少子化問題などもあって減少傾向。特に身近な人物に会社を託すので、経営者の人となりを理解して譲れるなどメリットが多いです。逆にデメリットとしては時間がかかったり、他の相続人とトラブルになる可能性などがあります。
      </p>
      <h3 class="c-title-middle">
        従業員への承継
      </h3>
      <p class="p-jobs__txt">
        従業員への承継では会社で勤務している社員に、事業の経営を引き継ぐことになります。これまでの経験がある人物に経営を任せるので安心感もあり、社内でも納得されやすいでしょう。問題は中小企業の従業員ですから、個人の資金力に限度がある点です。保有株を有償取得させようとしても、買い切るだけの資金がないなどの問題がありえます。
      </p>
      <h3 class="c-title-middle">
        M&Aによる承継
      </h3>
      <p class="p-jobs__txt">
        最近は話題になることも増えてきたM&Aも、事業承継に活用できます。こちらは株式譲渡・合併・会社分割・事業譲渡などの方法を使って、第三者を経営者にすることが特徴です。他の企業の力を持って事業が成長したり、買収の場合には多額の現金を得られるなどのメリットがあります。ただし希望条件にそった相手を選ぶことが大変で、交渉も必要などの問題点も無くはありません。
      </p>
    </div>

    <div class="p-jobs__head">
      <h2 class="c-title">
        事業承継のおおまかな流れ
      </h2>
      <p class="p-jobs__txt">
        事業承継を実施するための、大まかな流れを見ていくことにします。必ずしもどんな場合でも、この流れになるわけではありませんので、あくまで参考として検討の一助として役立てて下さい。事業承継協議会が手掛けている「事業承継ガイドライン」を参考にしていきます。
      </p>
      <h3 class="c-title-middle">
        現状分析・課題の整理
      </h3>
      <p class="p-jobs__txt">
        事業承継を検討するファーストステップとしては、会社のおかれた状況を詳しく把握することになります。ここで綿密に調査しておくことで、後の交渉や方法選びにおいて有利になってくるので、ここは綿密に行っていきましょう。<br />
        知っておきたいポイントは、経営資源の状況や経営リスクの他、経営者個人の資産と負債についても要チェックです。他には候補となっている後継者の調査や、相続が生じた際の問題点と対策についても洗い出しておくと安心できます。<br />
        同時に事業にかけての思いや、次の経営者に対する希望なども洗い出しておきましょう。
      </p>
      <h3 class="c-title-middle">
        事業承継計策の策定
      </h3>
      <p class="p-jobs__txt">
        現在の状況をリサーチしたら、それを元に「事業承継計画」を策定してきます。事業の譲渡には基本的に時間がかかることが多く、思ったよりも長期化するケースが珍しくありません。色々な問題が出てくるので適切な対策をとるためには、しっかりと時間配分を考えて、計画としてまとめておくのがおすすめです。<br />
        計画においては新体制構築への課題や、相続問題の対応の他に新経営者の教育なども盛り込んでいきます。具体的には承継を決めるための会議は何時行うかや、保有株式は何時どのような手段で譲渡するか、後継者を育てるためにどんなステップを用意するかなどを盛り込んでいきましょう。
      </p>
      <h3 class="c-title-middle">
        事業承継計画の実行支援
      </h3>
      <p class="p-jobs__txt">
        計画を立てたら以後は、それに基づいて行動していくことになります。関係各者への説明や会議などからはじまって、実際の経営権の譲渡や株式の引渡しなどの具体的な作業に着手していくわけです。<br />
        この実行段階では悩みが生じたり、計画通りに進まないことや、逆に計画通りに進めると危険な場合などがあります。定款変更や生前贈与など、気をつけたいポイントも少なくはありません。このために出来るだけ税理士などの専門家による計画実行支援は考えておきたいもの。スムーズに事業を引き継ぐための手助けや、節税対策などについてアドバイスがあった方が、後々の経営にも好影響が出てくるはずです。
      </p>
    </div>

    <div class="p-jobs__head">
      <h2 class="c-title">
        税理士に事業承継を相談するメリット
      </h2>
      <p class="p-jobs__txt">
        現在ではM&Aを始め事業の譲り渡しに関する関心は高まっており、経営について詳しい税理士も増えてきました。特に事業承継を専門的に扱う事務所も、増加傾向にあります。<br />
        事業承継を得意としている税理士のサポートを受けることで、節税対策とM&Aの円滑化に関し、大きなメリットを得ることが可能です。事業承継においては特別な税制が用意されているので要注目な他、贈与税や相続税以外にも思いがけない負担が生じるケースがあるので、税理士のサポートは有益となります。<br />
        M&Aに関しては株式の処理や買収金額などが重要なファクターになってきますが、この点に関しても税理士がいると心強いです。他にも多彩な面で相談役を務めてくれますから、信頼できるパートナーとして考えておくと良いでしょう。
      </p>
    </div>

    <div class="p-jobs__head">
      <h1 class="c-title">
        M&Aとは
      </h1>
      <p class="p-jobs__txt">
        M&Aを税理士に相談するという方法がありますが、実施する業務の中には売り手側や買い手側にとっても、成功させるために重要なものが多くあるため、依頼する事は賢明な判断と言えます。しかし、何も理解していない状態で依頼してはいけません。行う業務内容とはどのようなものなのか、相談する事でどのようなメリットがあるのかを知っておくことが重要です。<br />
        この記事では、M&Aにおける税理士の業務内容や具体的な実施の方法、また税理士に相談することのメリットについて説明しますので、内容をしっかり把握したうえで依頼する時に役立ててください。最後まで読んでいただいた方が、税理士に相談して良かったと思っていただければ幸いです。
      </p>
    </div>
    <div class="p-jobs__head">
      <h2 class="c-title">
        M&Aにおける税理士の業務
      </h2>
      <p class="p-jobs__txt">
        主な業務の内容はバリュエーション、税務や財務デューデリジェンスやFA（ファイナンシャルアドバイザリー）の3つがありますが次の事項で、各業務の内容やどのような内容に基づいて実施されているのかについて説明します。
      </p>
      <h3 class="c-title-middle">
        バリュエーション
      </h3>
      <p class="p-jobs__txt">
        バリュエーションとは、投資や株式の価値を評価することですが、適正な買収価格を決定することは売り手側や買い手側にとっても、大事な業務です。バリュエーションのアプローチ方法は、主に下記の3種類があります。
      </p>
      <ul class="p-article-detail__list">
        <li class="p-article-detail__item">
          コストアプローチ・・・財務諸表の純資産を基に評価する手法です
        </li>
        <li class="p-article-detail__item">
          インカムアプローチ・・・将来的に予想される利益やキャッシュフローを基にバリュエーションします
        </li>
        <li class="p-article-detail__item">
          マーケットアプローチ・・・既存他社や取引実績を基に評価する方法です
        </li>
      </ul>
      <p class="p-jobs__txt">
        どの項目に着目して評価するのか、というのが最も重要になってきますが、いずれにしても会計の高度な知識が必要です。会計の専門知識があるほど、最適なアプローチで的確なバリュエーションを実施することが期待できます。
      </p>
    </div>
    <div class="p-jobs__head">
      <h2 class="c-title">
        税務・財務デューデリジェンス
      </h2>
      <p class="p-jobs__txt">
        デューデリジェンスとは、売り手となる会社の価値や不確実性の調査を行い発見されたリスクを基に、投資判断やバリュエーションの価格調整を行います。調査する分野によってアドバイザリーが異なりますが、主に下記分野の調査を実施します。
      </p>
      <ul class="p-article-detail__list">
        <li class="p-article-detail__item">
          財務・・・貸借対照表等を参考にして、簿外債務等の財務リスクの調査をします
        </li>
        <li class="p-article-detail__item">
          法務・・・資産の保有権や法務上のリスク調査です
        </li>
        <li class="p-article-detail__item">
          税務・・・納税を延滞などせず適切に実施しているのか等の確認を行います
        </li>
        <li class="p-article-detail__item">
          ビジネス・・・事業の将来性についてやライバル企業を調査します
        </li>
        <li class="p-article-detail__item">
          IT・・・システム統合の費用や不確実性の調査です
        </li>
        <li class="p-article-detail__item">
          人事・・・人材等の調査をします
        </li>
      </ul>
      <p class="p-jobs__txt">
        税理士は、財務と税務の分野を得意としており頼もしい存在で、とくに簿外債務等のリスク発見はM&Aを成功させるために重要です。
      </p>
      <h3 class="c-title-middle">
        FA（ファイナンシャルアドバイザリー）業務
      </h3>
      <p class="p-jobs__txt">
        FA（ファイナンシャルアドバイザリー）業務は、主に下記のことを行います。
      </p>
      <ul class="p-article-detail__list">
        <li class="p-article-detail__item">
          M&Aの候補探しやアドバイスなどをします
        </li>
        <li class="p-article-detail__item">
          バリュエーションやデューデリジェンス業務を実施する
        </li>
        <li class="p-article-detail__item">
          クロージング（商談・契約等）をする
        </li>
      </ul>
      <p class="p-jobs__txt">
        このように、候補探しからクロージングまでの流れを一貫して実施します。バリュエーションやデューデリジェンス業務だけでも多くのものがあるので、FA（ファイナンシャルアドバイザリー）のように業務を一貫して実施するとなると容易ではないです。
      </p>
      <p class="p-jobs__txt">
        知識が豊富でM&Aの経験がある税理士であれば、あらゆる業務を一貫して実施する事が可能です。とくに中小企業にとっては身近な存在であるため、日頃の税務管理も含めて依頼する際に心強い存在と言えます。
      </p>
    </div>
    <div class="p-jobs__head">
      <h2 class="c-title">
        M&Aを税理士に相談するメリットは?
      </h2>
      <p class="p-jobs__txt">
        業務内容について説明しましたが、それでは相談する事でどのようなメリットがあるのでしょうか。あまりメリットが無いようであれば費用をかける意味がないのかも知れませんが、次は相談することのメリットについて3つ説明します。
      </p>
      <h3 class="c-title-middle">
        M&Aのリスクを見つけられる
      </h3>
      <p class="p-jobs__txt">
        リスクを見つけられるという点は、相談する上で大切なメリットの1つです。成功させるためには、リスクを発見することが重要なポイントになります。税務や会計が得意な税理士であれば、リスクを発見する可能性が高くなるため成功に期待が持てます。
      </p>
      <p class="p-jobs__txt">
        重要となる簿外債務や偶発債務、資産の価値低下などは、税務や会計の知識が無いと判別するのは難しいです。税理士に相談すれば、前もってリスクとなる要因や資産を排除するなどして、良い条件で会社売却する可能性が高くなります。買い手側にとっても、依頼することはメリットになります。デューデリジェンスの際に、リスクを洗い出してもらうことで妥当な買収判断を実行することができるからです。
      </p>
      <h3 class="c-title-middle">
        適切な価格を算出することができる
      </h3>
      <p class="p-jobs__txt">
        適切な価格を算出することができるということも、M&Aを税理士に相談するメリットです。税理士にバリュエーションを依頼すれば、妥当なM&Aの価格を算出してもらえます。売り手となる企業が依頼する場合は、会社の価値を高めるために的確なバリュエーション手法を用いるため、良い条件での売却が可能となり満足できるM&Aが実行できます。
      </p>
      <p class="p-jobs__txt">
        買い手側は、M&Aの効果よりも買収価格が高すぎた場合、将来的に減損等の損失を被る恐れがあります。損失を被ってしまっては、M&Aの効果を期待して買収したことが無意味です。税理士に依頼すれば、適切な価格を算出してくれるため、買収価格がM&Aの効果よりも上回る事を軽減することが可能です。
      </p>
      <h3 class="c-title-middle">
        節税対策ができる
      </h3>
      <p class="p-jobs__txt">
        節税対策ができるというのは利益を出すためにも重要なポイントです。M&Aでは、多額の所得税や法人税の税負担をしなくてはなりません。あまりにも税負担が大きいと利益減少となってしまうため、何かしらの節税対策をしておくことが必要不可欠です。
      </p>
      <p class="p-jobs__txt">
        費用をかけずに利益を出したいからといって、知識がない経営者が節税対策を行うのは得策ではありません。手間がかかるだけでなく、節税の効果もあまり期待が持てなくなります。税金のスペシャリストである税理士に相談すれば、M&Aで活用できる節税対策をアドバイスしてもらうことができるため、手元により利益を残すことが可能です。税務を代理してもらえば、経営者が負う手間も省くことができます。
      </p>
    </div>
    <p class="p-top__btn">
      <%= link_to contacts_path, class: 'c-btn-cta' do %>
        税理士紹介を依頼する
      <% end %>
    </p>
    <%= render template: '/components/topic_article_list', locals: { topic_article: @topic_article } %>
  </div>
</div>
