<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="みんなの税理士相談所">
<meta name="keywords" content="みんなの税理士相談所">
  <title>みんなの税理士相談所</title>
<link rel="stylesheet" type="text/css" href="/entry/css/common/layout.css">
<link rel="stylesheet" type="text/css" href="/entry/css/common/general.css">
<link rel="stylesheet" type="text/css" href="/entry/css/index.css">
<script src="/entry/js/head.js"></script>
</head>
<body>
	<div id="container">
		<header id="gHeader">
			<h1><a href="/"><img src="/entry/img/common/logo.png" alt="みんなの税理士相談所"></a></h1>
		</header>
		<section id="main">
			<div class="mainVisual">
				<div class="bg"><img class="pc" src="/entry/img/index/main_img.jpg" alt="みんなの税理士相談所が事務所の顧客開拓をサポートします！"><img
						class="sp" src="/entry/img/index/sp_main_img.jpg" alt="みんなの税理士相談所が事務所の顧客開拓をサポートします！"></div>
				<div class="btn fontA">
          <%= link_to entry_url do %>
            パートナー<br>登録する
          <% end %>
        </div>
				<h2><span class="bd">みんなの<br>税理士相談所</span>が<br><span>事務所の顧客開拓</span>を<br>サポートします！</h2>
				<div class="scroll"><a href="#a01"><img class="pc" src="/entry/img/index/scroll.png" alt="SCROLL"><img
							class="sp" src="/entry/img/index/sp_scroll.png" alt="SCROLL"></a></div>
			</div>
			<div class="worry" id="a01">
				<div class="comBox">
					<h3 class="headLine01"><span><img src="/entry/img/index/txt_01.png" alt="worry"
								width="52"></span>こんなお悩みございませんか？</h3>
					<p>顧客先がなかなか増えない。<br>
						開業したばかりなので顧客を増やしたい。<br>
						繁忙期なのに確定申告の依頼が少ない気がする。<br>
						顧客の質が低く、割りに合わない。<br>
						特定の業界の顧客先を増やしたい。</p>
				</div>
			</div>
			<div class="business">
				<div class="comBox">
					<p class="ttl">みんなの税理士相談所が<br class="sp">インターネット上での<br>顧客先開拓を<span>強力</span>サポートします！</p>
					<h3 class="headLine01"><span><img src="/entry/img/index/txt_02.png" alt="business"
								width="74"></span>みんなの税理士相談所でできること</h3>
					<ul>
						<li>
							<div class="photo"><img src="/entry/img/index/business_img01.png" alt=""></div>
							<p class="title"><span><img src="/entry/img/index/business_num01.png" alt="01"></span>事務所の情報を無料で掲載
							</p>
							<p class="txt">税理士事務所や、所属税理士のプロフィールをはじめとし、手掛けた案件や料金体系などを登録することが出来ます。<br
									class="pc">プロフィールを充実させることによって、顧客に事務所をアピールすることが可能です。</p>
						</li>
						<li>
							<div class="photo"><img src="/entry/img/index/business_img02.png" alt=""></div>
							<p class="title"><span><img src="/entry/img/index/business_num02.png" alt="02"></span>顧客紹介サービス</p>
							<p class="txt">みんなの税理士相談所のの案件紹介サービスでは、企業の顧問案件や相続税申告など<br>
								毎日多数のご相談をいただいております。税理士をお探しの見込み顧客をご紹介いたします。</p>
						</li>
						<li>
							<div class="photo"><img src="/entry/img/index/business_img03.png" alt=""></div>
							<p class="title"><span><img src="/entry/img/index/business_num03.png"
										alt="03"></span>税務・会計や、M&amp;Aに<br class="sp">関するメディア</p>
							<p class="txt">税理士・公認会計士・M&amp;Aアドバイザー監修の信頼性のある記事を提供いたします。</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="about">
				<div class="comBox">
					<h3 class="headLine01"><span><img src="/entry/img/index/txt_03.png" alt="about us"
								width="78"></span>みんなの税理士相談所とは？</h3>
					<p><span>みんなの税理士相談所</span>は<br class="sp">税理士紹介・税理士検索ポータルサイトです。<br>
						地域や業種の軸でおすすめの税理士紹介を<br class="sp">受けることができ<br class="pc">税務・会計・M&amp;A等、<br
							class="sp">幅広いお悩みを解決するサービスや<br>
						コンテンツを提供しております。</p>
				</div>
			</div>
			<div class="service">
				<div class="comBox">
					<h3 class="headLine01"><span><img src="/entry/img/index/txt_04.png" alt="service"
								width="62"></span>みんなの税理士相談所の<br class="sp">顧客紹介サービス</h3>
					<ul class="pointList">
						<li>
							<div class="point"><img src="/entry/img/index/point01.png" alt="point01"></div>
							<p>初期費用<br class="pc"><span class="sp">・</span>月額費用<br>
								<span>不要</span></p>
						</li>
						<li>
							<div class="point"><img src="/entry/img/index/point02.png" alt="point02"></div>
							<p><span>完全</span>成功報酬</p>
						</li>
						<li>
							<div class="point"><img src="/entry/img/index/point03.png" alt="point03"></div>
							<p><span>選べる</span><br>
								対応地域<br class="pc"><span class="sp">・</span>得意地域</p>
						</li>
					</ul>
					<div class="innerBox">
						<p class="ttl">みんなの税理士相談所のユーザーについて</p>
						<div class="photo sp"><img src="/entry/img/index/service_bg.png" alt="みんなの税理士相談所のユーザーについて"></div>
						<ul>
							<li>●　税金、お金への関心が高い幅広いユーザーが利用</li>
							<li>●　経営者</li>
							<li>●　相続に関心のある富裕層</li>
							<li>●　高所得層の会社</li>
							<li>●　個人事業主・フリーランス</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="introduction">
				<div class="comBox">
					<h3 class="headLine01"><span><img src="/entry/img/index/txt_05.png" alt="introduction"
								width="108"></span>紹介手数料</h3>
					<h4>単発案件・継続案件共に他社より<br class="sp"><span>リーズナブル</span>にサービスを提供。</h4>
					<div class="imgBox">
						<div class="photo"><img src="/entry/img/index/introduction_photo.png" alt=""></div>
						<dl>
							<dt class="color03">単発案件：</dt>
							<dd>成約手数料の<span class="color01">20%</span></dd>
							<dt class="color04">継続案件：</dt>
							<dd>年間報酬の<span class="color02">50%</span> <br class="sp">(※税務顧問の場合)</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="qa">
				<div class="comBox">
					<h3 class="headLine01"><span><img src="/entry/img/index/txt_06.png" alt="QA" width="40"></span>よくあるご質問</h3>
					<dl>
						<dt><img src="/entry/img/index/qa_icon.png" alt="Q">登録は無料ですか？顧客紹介サービスで費用がかかるのはどのタイミングですか？</dt>
						<dd>登録は完全無料です。<br>
							顧客紹介サービスは、契約が成立した時点で手数料をいただく、完全成果型報酬制となっております。何回ご面接いただいても契約に至らなければ費用は発生いたしません。紹介手数料については上記をご確認ください。登録のみのご利用も可能です。
						</dd>
						<dt><img src="/entry/img/index/qa_icon.png" alt="Q">どういう顧客を紹介してもらえますか？</dt>
						<dd>個人事業主から中小企業、上場企業まで幅広い顧客からの相談を受けています。<br>
							悩みがはっきりしている層、税理士に相談してもいいのかどうかすらわからない悩みを抱えている層など顧客の層はバラバラですので、「みんなの税理士相談所」運営メンバーによる丁寧なヒアリングにより、顧客のニーズに合わせた税理士をご紹介させていただいております。
						</dd>
						<dt><img src="/entry/img/index/qa_icon.png" alt="Q">個人や法人、特定の業種に絞って顧客利用サービスを利用したいです</dt>
						<dd>個人・法人といった<br class="sp">業種はもちろんのこと、地域などにも絞って顧客をご選択していただくことが可能です。<br
								class="sp">事務所の状況に合わせて依頼を受けていただけます。</dd>
					</dl>
				</div>
			</div>
			<div class="comBtn">
        <%= link_to entry_url do %>
        パートナー登録する
        <% end %>
      </div>
		</section>
		<footer id="gFooter">
			<div class="logo"><a href="/"><img src="/entry/img/common/footer_logo.png" alt=""></a></div>
			<p class="copyright">&copy;みんなの税理士相談所</p>
		</footer>
	</div>
	<script src="/entry/js/jquery.js"></script>
	<script src="/entry/js/common.js"></script>
</body>
</html>